version: '3.8'

services:
  devcontainer:
    image: mcr.microsoft.com/devcontainers/python:0-3.10-bullseye
    volumes:
      - .:/workspaces:cached
    command: sleep infinity

  db:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080